.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.7;
}

.header-container img{
    
    height: 100%;
}

.header-counter{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.header-counter img{
    width: 40px;
}